* {
  margin: 0.2rem;
  padding: 0;
}

.body {
  background-color: #000;
  margin: 30px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
  display: block;
  border-radius: 2%;
}

figure {
  margin: 0;
  display: grid;
  grid-template-rows: 1fr auto;
  margin-bottom: 10px;
  break-inside: avoid;
}

figure > img {
  grid-row: 1 / -1;
  grid-column: 1;
}

figure a {
  color: white;
  text-decoration: none;
}

figcaption {
  grid-row: 2;
  grid-column: 1;
  background-color: rgba(36, 33, 33, 0.377);
  padding: .2em .5em;
  justify-self: start;
}

.container {
  column-count: 3;
  column-gap: 10px;
}

.grid-item { 
  width: 200px; 
  background-color: black;
}
.grid-item--width2 { 
  width: 400px; 
  background-color: red;
}